* {
    margin: 0;
    padding: 0;
}

:root{
    --grey-blue: #394a51; 
    --seafoam: #7fa99b; 
    --text-color: #232525; 
    --off-white: #fbf2d5; 
    --pumpkin: #fdc57b; 
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: var(--off-white);
    background: var(--grey-blue);
}

header > h1{
    padding-top: 5px;
}
.content{
    height: calc(100vh - 60px);
    display:grid;
    grid-template: 1fr / minmax(110px, 15vw) 1fr;
    

}
.leftBar > h3 {
    font-size: 1.5rem;
    padding: 10px 0px;
}


.leftBar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding: 0px 10px;
    font-size: 1rem;
    background: var(--seafoam);
    color: var(--text-color);
}

.leftBar > button{
    background: var(--off-white);
    color: var(--text-color);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.rightBar{
    background: var(--off-white);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px
    

}

.card{
   padding: 8px;
   
   background: var(--pumpkin);
   border-radius: 5px;
}